body {
    font-family: Arial, sans-serif;
}

#form-container {
    text-align: center;
}

#nombre, #hora, #solicitar-turno {
    margin: 10px;
}

#turnos {
    margin-top: 20px;
    text-align: center;
}

#lista-turnos {
    list-style: none;
}